In [1]:
import pandas as pd


columns_to_keep = ['trending_date', 'category_id', 'views']
df = pd.read_csv('./archive/USvideos.csv', usecols = columns_to_keep)



print(df.head())

  trending_date  category_id    views
0      17.14.11           22   748374
1      17.14.11           24  2418783
2      17.14.11           23  3191434
3      17.14.11           24   343168
4      17.14.11           24  2095731

In [2]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format = '%y.%d.%m')
print(df.head())

  trending_date  category_id    views
0    2017-11-14           22   748374
1    2017-11-14           24  2418783
2    2017-11-14           23  3191434
3    2017-11-14           24   343168
4    2017-11-14           24  2095731

In [3]:
result   = df.groupby(['trending_date','category_id'])['views'].sum()
print(result)

trending_date  category_id
2017-11-14     1                6015279
               2                 814856
               10              97097557
               15               1010302
               17               2755539
                                ...
2018-06-14     24             173378764
               25               3649404
               26              37831670
               27               4348193
               28              15347948
Name: views, Length: 2864, dtype: int64

In [4]:
dict_column = {'trending_date':'date', 'category_id' : 'id', 'views' : 'num'}

df = df.rename(columns = dict_column)
print(df.head())

        date  id      num
0 2017-11-14  22   748374
1 2017-11-14  24  2418783
2 2017-11-14  23  3191434
3 2017-11-14  24   343168
4 2017-11-14  24  2095731

In [17]:
result['num']   = df.groupby(['date','id'])['num'].sum()
print(result)

                     num        pi
date       id
2017-11-14 1     6015279  0.032439
           2      814856  0.004394
           10   97097557  0.523620
           15    1010302  0.005448
           17    2755539  0.014860
...                  ...       ...
2018-06-14 24  173378764  0.169480
           25    3649404  0.003567
           26   37831670  0.036981
           27    4348193  0.004250
           28   15347948  0.015003

[2864 rows x 2 columns]

In [20]:
import pandas as pd

# 创建示例DataFrame
df = pd.DataFrame({
    '属性1': ['A', 'A', 'B', 'B'],
    '属性2': [10, 20, 30, 40]
})

# 计算求和并归一化
df['pi'] = df.groupby('属性1')['属性2'].transform(lambda x: (x.sum() - x.min()) / (x.max() - x.min()))

# 显示DataFrame
print(df)

  属性1  属性2   pi
0   A   10  2.0
1   A   20  2.0
2   B   30  4.0
3   B   40  4.0

In [16]:
result['pi'] = result.groupby(['date'])['num'].transform(lambda x: (x/x.sum()))
print(result)

                     num        pi
date       id
2017-11-14 1     6015279  0.032439
           2      814856  0.004394
           10   97097557  0.523620
           15    1010302  0.005448
           17    2755539  0.014860
...                  ...       ...
2018-06-14 24  173378764  0.169480
           25    3649404  0.003567
           26   37831670  0.036981
           27    4348193  0.004250
           28   15347948  0.015003

[2864 rows x 2 columns]

In [20]:
result['valid'] = result.groupby(['date'])['pi'].transform(lambda x: (x.sum()))
result

                     num        pi  valid
date       id
2017-11-14 1     6015279  0.032439    1.0
           2      814856  0.004394    1.0
           10   97097557  0.523620    1.0
           15    1010302  0.005448    1.0
           17    2755539  0.014860    1.0
...                  ...       ...    ...
2018-06-14 24  173378764  0.169480    1.0
           25    3649404  0.003567    1.0
           26   37831670  0.036981    1.0
           27    4348193  0.004250    1.0
           28   15347948  0.015003    1.0

[2864 rows x 3 columns]

In [21]:
result = result.drop('valid',axis = 1)
result

                     num        pi
date       id
2017-11-14 1     6015279  0.032439
           2      814856  0.004394
           10   97097557  0.523620
           15    1010302  0.005448
           17    2755539  0.014860
...                  ...       ...
2018-06-14 24  173378764  0.169480
           25    3649404  0.003567
           26   37831670  0.036981
           27    4348193  0.004250
           28   15347948  0.015003

[2864 rows x 2 columns]

In [23]:
result.to_csv('popularity.csv',index = True)

In [28]:
grouped = result[result['id'] == '10'].groupby('date')['pi'].tolist()

KeyError: 'id'

In [29]:
df1 = pd.read_csv('popularity.csv')
df1

            date  id        num        pi
0     2017-11-14   1    6015279  0.032439
1     2017-11-14   2     814856  0.004394
2     2017-11-14  10   97097557  0.523620
3     2017-11-14  15    1010302  0.005448
4     2017-11-14  17    2755539  0.014860
...          ...  ..        ...       ...
2859  2018-06-14  24  173378764  0.169480
2860  2018-06-14  25    3649404  0.003567
2861  2018-06-14  26   37831670  0.036981
2862  2018-06-14  27    4348193  0.004250
2863  2018-06-14  28   15347948  0.015003

[2864 rows x 4 columns]

In [33]:
df2 = df1[df1['id'] == 10]
df2.to_csv('pop_1.csv')